.nav {
    padding: 16px 0;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navItem {
    margin: 0 16px;
}

.navLink {
    text-decoration: none;
    position: relative;
}

.active::before,
.navLink:hover::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    left: -2px;
    height: 3px;
    background: #fff;
    opacity: 0.4;
    bottom: -6px;
}